/*SECCION DE HOME*/
.header-principal .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerPrincipal-nav {
    display: flex;
}
.contenido-principal .container-home {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-ubicacion .container-ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descripcion-ubicacion {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*SECCION SERVICIOS*/
.container-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.servicios {
    display: flex;
    flex-direction: column;
}
.listas-servicios {
    display: flex;
    justify-content: center;
    text-align: center;
}
/*SECCION-GALERIA*/
.container-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.antes-despues {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*RESPONSIVE*/
@media (max-width: 768px) {
    /*RESPONSIVE-HOME*/
    .header-principal .menu-container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
        margin: 10px auto;
    }
    .headerPrincipal-nav {
        flex-direction: column;
    }
    .headerPrincipal-link {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.507);
    }
    .section-home .container-home {
        flex-direction: column-reverse;
        text-align: center;
    }
    .section-home .descripcion-home {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0 auto;
    }
    .descripcion-home .subtitulo-home {
        border-bottom: 2px solid rgba(0, 0, 0, 0.527);
        margin-bottom: 20px;
    }
    .section-ubicacion .container-ubicacion {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        text-align: center;
    }
    .descripcion-ubicacion .titulo-ubicacion {
        border-bottom: 2px solid rgba(0, 0, 0, 0.527);
    }
    /*RESPONSIVE-SERVICIOS*/
    .servicios {
        flex-direction: column;
    }
    .listas-servicios {
        width: 100%;
    }
    .listas-servicios:hover i {
        display: inline-block;
        margin: 0 auto;
    }
    /*RESPONSIVE-GALERIA*/
    .container-galeria {
        width: 100%;
        margin: 0 auto;
    }
    .galeria {
        flex-direction: column;
        margin: 0 20px;
    }
    .listas-galeria {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}