* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 img {
    text-align: center;
    width: 160px;
    height: 160px;
}

/*SECCION-SERVICIOS*/
.main-servicios {
    background: linear-gradient(#b37b9e9f,#fddcf1e5);
}

.container-servicios {
    /* width: 1200px;
    margin: 0 auto;
    padding: 10px; */
    margin: 0 auto;
    padding: 10px;

    display: inline-flex;
}

.container-servicios li {
    /* display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid #000000;
    border-radius: 20px; */

    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 20px;
}

.container-servicios li:hover {
    border-color: #FF5C8D;
    cursor: pointer;
}

.container-servicios h2 {
    font-size: 2.2em;
    font-weight: bold;
}

.container-servicios li:hover h2 {
    font-size: 2.3em;
}

.container-servicios i {
    font-size: 18px;
    text-align: left;
}

.descripcion-servicios {
    font-size: 18px;
}

.precio-servicios {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}