* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*SECCION-SERVICIOS*/
.contenidoPrincipal-servicios {
    background: linear-gradient(#b37b9e9f,#fddcf1e5);
}
.subtitulo-servicios {
    font-size: 2em;
    font-weight: bold;
}
.servicios {
    /* margin: 0 auto; */
    padding: 10px;
}

.listas-servicios {
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 20px;
}

.listas-servicios h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.listas-servicios i {
    font-size: 18px;
    display: none;
    padding: 0px 0px 10px;
}

.descripcion-servicios {
    font-size: 17px;
    display: none;
}

.precio-servicios {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    display: none;
}

.listas-servicios:hover {
    border-color: #FF5C8D;
    cursor: pointer;
    
}

.listas-servicios:hover h2 {
    font-size: 1.6em;
}

.listas-servicios:hover p {
    display: flex;
}

.listas-servicios:hover i {
    display: flex;
}