* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/*Menu Navegacion*/
.header-principal {
    background-color: #b37b9e9f;
    padding: 10px 0;
}
.menu-container {
    width: 100%;
    margin: 0 auto;
}
.headerPrincipal-titulo {
    margin-bottom: 20px;
}
.headerPrincipal-link{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    display: block;
}

.headerPrincipal-link:hover {
    color: #F7E2E2;
    text-decoration: underline;
    transition: 1s;
}

/*SECCION-HOME*/
.section-home {
    padding: 3em 1em;
    margin: 0 auto;
    background-color:#b37b9e9f ;
}
.img-herramientas1:hover {
    transform: scale(1.1);
    transition: 2s;
}
.descripcion-home {
    margin-left: 5%;
}
.subtitulo-home {
    font-size: 54px;
    margin-bottom: 15px;
}

.parrafo-home {
    font-size: 17px;
}

/*SECCION MI UBICACIÓN*/
.section-ubicacion {
    padding: 3em 1em;
    background: linear-gradient(#b37b9e9f,#fddcf1e5);
}

.titulo-ubicacion {
    font-size: 54px;
    margin-bottom: 1em;
}

.parrafo-ubicacion {
    margin-bottom: 2em;
}

.mapa-ubicacion {
    max-width: 100%;
}
/*PIE DE PAGÍNA*/
footer {
    max-width: 100%;
    background-color: #fddcf1e5;
    text-align: center;
    padding: 20px 0px;
    margin: 0 auto;
}

.copyright {
    font-size: 20px;
    font-weight: bold;
}